aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
crcmod==1.7
cryptography==41.0.4
DataRecorder==3.4.8
DownloadKit==1.0.2
et-xmlfile==1.1.0
idna==3.4
jmespath==0.10.0
openpyxl==3.1.2
oss2==2.18.2
pycparser==2.21
pycryptodome==3.19.0
requests==2.31.0
six==1.16.0
urllib3==2.0.6